/*My CSS file for second HW (by Yuri Kamotsky)*/

/* Первая строка таблицы: */

/*
1. добавление стиля для заголовка при помощи селектора тегов (другое название - селектора типов),
стиль применяется к HTML-элементу указанного типа, иными словами, прямо к тегу <th></th>:
*/
th{
	font-size:48px; /* Размер шрифта */
	color:Red /* Цвет шрифта */
}

/* 2. создание мигания текста: */
.blink {
    animation: blink 2s infinite; /* Бесконечно повторяющаяся анимация */
}
   @keyframes blink {
    from {opacity: 1;} /* Непрозрачный текст */
    to {opacity: 0;} /* Прозрачный текст */
   }

/* Вторая строка второй столбец: */

/* 1. добавление стиля для текста «Овсяное печенье с мёдом» при помощи селектора идентификатора: */
#cookies {
	background: Orange; /* Цвет фона */ 
	color: White; /* Цвет шрифта */
	margin-top: auto; /* Внешний отступ сверху элемента */
	padding: 5px; /* Поля вокруг текста */
	font-style: oblique; /* Стиль шрифта */
	font-size: 35px /* Размер шрифта */	
}
     
/* 2. добавление дополнительного блока с текстом: */
.block {
	width: 200px; /* Ширина таблицы */
	height: 50px; /* Высота таблицы */
	background: DarkGrey; /* Цвет фона */ 
	color: rgb(0, 0, 255); /* Цвет шрифта в формате RGB */
	text-align:center; /* Выравнивание строк текста относительно границ элемента */
	padding: 5px; /* Внутренний отступ - пустое пространство между содержимым элемента и его рамкой */
	margin: 1px 5px 5px 5px; /* Внешний отступ - пустое пространство (поле), которое отделяет один элемент от другого или от края области просмотра окна браузера */
	border: ridge 3px CadetBlue; /* Рамка элемента - граница с любой стороны элемента */
	border-radius: 10px; /* Радиус скругления для всех уголков рамки сразу */
	float: right; /* Сделать элемент плавающим, смещая его к правому краю родительского элемента */
	font-family: "Comic Sans MS", cursive, sans-serif; /* Семейство шрифта */
	font-size: 16px /* Размер шрифта */
}

/* 3. изменение размера шрифта основного текста: */
.font1 {font-size: 20px;} /* Размер шрифта */

/* Вторая строка третий столбец: */

/* 1. выравнивание содержимого по верхней границе ячейки: */
.textup {vertical-align: top;}

/* 2. изменение размера шрифта заголовка: */
.font2 {
	font-size: 23px; /* Размер шрифта */
	font-style: italic; /* Стиль шрифта */
	text-shadow: 2px 2px 4px; /* Придание шрифту эффекта тени */
}
 
/* 3. изменение размера шрифта основного текста: */
.font3 {font-size: 20px;} /* Размер шрифта */

/* 4. выделение шрифта в заголовке и придание ему насыщенности: */
.colortext {color: hsl(0,100%,55%);} /* Задание стиля цвета в формате HSL (Hue (оттенок), Saturate (насыщенность) и Lightness (светлота))*/

/* Последняя строка таблицы: */
.style {
	font-size: 23px; /* Размер шрифта */
	background: #008000; /* Цвет фона в шестнадцатеричном представлении */ 
	color: White; /* Цвет шрифта */
}